In [1]:
import pandas as pd

In [2]:
train_mkt_data = pd.read_csv("train_mkt_data.csv",header =0)
train_mkt_data = train_mkt_data.drop("Unnamed: 0",axis=1)
train_mkt_data.head(5)

,Dates,ESIndex,TYComdty,TargetPortDailyRtn,NKIndex,JBComdty,VGIndex,RXComdty,HIIndex,MXEFIndex,...,TRYCurncy,BRLCurncy,COComdty,GCComdty,SIComdty,HGComdty,LBComdty,BDIYindex,XBTCurncy,VIXIndex
0,1999-04-01,0.007346,-0.001362,0.002121,0.036825,0.001509,0.009022,-0.000526,0.021570,0.001105,...,0.3730,1.7250,-0.034121,0.000355,0.011670,0.001594,-0.010963,891,NaN,22.06
1,1999-04-02,0.000000,0.005730,0.003438,0.002449,-0.001432,0.000000,0.000000,0.000000,0.010683,...,0.3754,1.7250,0.000000,0.000000,0.000000,0.000000,0.000000,891,NaN,NaN
2,1999-04-05,0.023604,0.000543,0.009767,0.000611,-0.001207,0.000000,0.000000,0.000000,0.002008,...,0.3761,1.7375,0.000000,-0.006028,-0.021877,0.002387,-0.017376,891,NaN,22.19
3,1999-04-06,-0.002250,0.004067,0.001540,0.004274,-0.002569,0.025426,0.010093,0.000000,0.009576,...,0.3760,1.7325,0.014266,0.005351,0.006100,-0.003968,-0.013720,883,NaN,22.65
4,1999-04-07,0.006013,-0.000810,0.001919,0.003040,0.006212,-0.008174,-0.000521,0.050764,0.010974,...,0.3761,1.7325,-0.038848,0.001774,0.002425,0.030279,0.004328,873,NaN,22.81

In [3]:
valid_mkt_data = pd.read_csv("valid_mkt_data.csv",header =0)
valid_mkt_data = valid_mkt_data.drop("Unnamed: 0",axis=1)
valid_mkt_data.head(5)

,Dates,ESIndex,TYComdty,TargetPortDailyRtn,NKIndex,JBComdty,VGIndex,RXComdty,HIIndex,MXEFIndex,...,TRYCurncy,BRLCurncy,COComdty,GCComdty,SIComdty,HGComdty,LBComdty,BDIYindex,XBTCurncy,VIXIndex
0,2017-01-02,0.000000,0.000000,0.000000,0.000000,0.000000,0.005493,0.001949,0.000000,-0.000452,...,3.5441,3.2860,0.000000,0.000000,0.000000,0.000000,0.000000,961,1012.35,NaN
1,2017-01-03,0.007267,-0.001383,0.002077,0.000000,0.000000,0.003338,-0.007661,0.007422,0.007611,...,3.5943,3.2650,-0.023759,0.008943,0.026268,-0.006586,-0.000911,953,1024.38,12.85
2,2017-01-04,0.005216,0.000000,0.002087,0.027749,-0.001331,-0.000605,-0.000123,-0.001175,0.003466,...,3.5721,3.2213,0.017847,0.002840,0.008715,0.027119,-0.003646,969,1091.66,11.85
3,2017-01-05,0.000000,0.005791,0.003475,-0.006623,0.000800,0.000000,0.002145,0.017422,0.011785,...,3.5932,3.1991,0.007616,0.013730,0.005135,-0.007432,0.002135,983,971.26,11.67
4,2017-01-06,0.003202,-0.003380,-0.000747,-0.005128,0.000000,0.002724,-0.004280,0.002090,-0.000692,...,3.6437,3.2224,0.003691,-0.006688,-0.007093,0.003350,-0.001217,963,898.16,11.32

In [4]:
train_ind_data = pd.read_csv("train_ind_data.csv",header = 0)
train_ind_data = train_ind_data.drop("Unnamed: 0",axis=1)
train_ind_data.head(5)

,Dates,NAPMPMIIndex,NAPMNEWOIndex,NAPMPRODIndex,NAPMSUPLIndex,NAPMEMPLIndex,NAPMINVIndex,NAPMBACKIndex,NAPMEXPTIndex,NAPMIMPTIndex,...,NAPMNIMPIndex,NHSPSTOTIndex,NHSPATOTIndex,ETSLTOTLIndex,NHSLTOTIndex,OUTFGAFIndex,EMPRGBCIIndex,CHPMINDXIndex,CONCCONFIndex,CONSSENTIndex
0,1997-03-31,53.1,57.6,58.9,52.1,45.9,41.3,48.5,54.6,53.7,...,NaN,1486,1445,NaN,801,21.1,NaN,57.5,118.5,100.0
1,1997-04-01,55.0,58.6,55.0,53.1,50.8,43.5,51.5,55.7,48.3,...,NaN,1486,1445,NaN,801,21.1,NaN,57.5,118.5,100.0
2,1997-04-02,55.0,58.6,55.0,53.1,50.8,43.5,51.5,55.7,48.3,...,NaN,1486,1445,NaN,801,21.1,NaN,57.5,118.5,100.0
3,1997-04-03,55.0,58.6,55.0,53.1,50.8,43.5,51.5,55.7,48.3,...,NaN,1486,1445,NaN,801,21.1,NaN,57.5,118.5,100.0
4,1997-04-04,55.0,58.6,55.0,53.1,50.8,43.5,51.5,55.7,48.3,...,NaN,1486,1445,NaN,801,21.1,NaN,57.5,118.5,100.0

In [5]:
valid_ind_data = pd.read_csv("valid_ind_data.csv",header = 0)
valid_ind_data = valid_ind_data.drop("Unnamed: 0",axis=1)
valid_ind_data.head(5)

,Dates,NAPMPMIIndex,NAPMNEWOIndex,NAPMPRODIndex,NAPMSUPLIndex,NAPMEMPLIndex,NAPMINVIndex,NAPMBACKIndex,NAPMEXPTIndex,NAPMIMPTIndex,...,NAPMNIMPIndex,NHSPSTOTIndex,NHSPATOTIndex,ETSLTOTLIndex,NHSLTOTIndex,OUTFGAFIndex,EMPRGBCIIndex,CHPMINDXIndex,CONCCONFIndex,CONSSENTIndex
0,2017-01-02,53.2,53.0,55.0,54.0,51.6,50.0,48.7,51.8,50.5,...,54.0,1090,1201,5.61,592,21.5,9.0,54.6,113.7,98.2
1,2017-01-03,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,54.0,1090,1201,5.61,592,21.5,9.0,54.6,113.7,98.2
2,2017-01-04,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,54.0,1090,1201,5.61,592,21.5,9.0,54.6,113.7,98.2
3,2017-01-05,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,50.0,1090,1201,5.61,592,21.5,9.0,54.6,113.7,98.2
4,2017-01-06,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,50.0,1090,1201,5.61,592,21.5,9.0,54.6,113.7,98.2

In [6]:
train_merged_data = pd.merge(train_ind_data,train_mkt_data, on ="Dates")
train_merged_data.head(5)
valid_merged_data = pd.merge(valid_ind_data,valid_mkt_data, on ="Dates")
valid_merged_data.head(5)

,Dates,NAPMPMIIndex,NAPMNEWOIndex,NAPMPRODIndex,NAPMSUPLIndex,NAPMEMPLIndex,NAPMINVIndex,NAPMBACKIndex,NAPMEXPTIndex,NAPMIMPTIndex,...,TRYCurncy,BRLCurncy,COComdty,GCComdty,SIComdty,HGComdty,LBComdty,BDIYindex,XBTCurncy,VIXIndex
0,2017-01-02,53.2,53.0,55.0,54.0,51.6,50.0,48.7,51.8,50.5,...,3.5441,3.2860,0.000000,0.000000,0.000000,0.000000,0.000000,961,1012.35,NaN
1,2017-01-03,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,3.5943,3.2650,-0.023759,0.008943,0.026268,-0.006586,-0.000911,953,1024.38,12.85
2,2017-01-04,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,3.5721,3.2213,0.017847,0.002840,0.008715,0.027119,-0.003646,969,1091.66,11.85
3,2017-01-05,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,3.5932,3.1991,0.007616,0.013730,0.005135,-0.007432,0.002135,983,971.26,11.67
4,2017-01-06,54.7,60.2,58.7,52.5,53.1,48.5,48.6,56.2,49.8,...,3.6437,3.2224,0.003691,-0.006688,-0.007093,0.003350,-0.001217,963,898.16,11.32

In [9]:
df1= train_merged_data.dropna(axis=1)
df1.to_csv('train_X_merged_for_feature_generating.csv')

In [10]:
df2= valid_merged_data.dropna(axis=1)
df2.to_csv('valid_X_merged_for_feature_generating.csv')