!!!READ THIS!!!!!!

here , information of date and corresponding y data is added to the features, so that each row in the features includes the infomation of DATE,DEC_RATE,SIGNAL, and the features from training set

In [39]:
import numpy 
import pandas as pd

In [43]:
df=pd.read_csv('train&valid_yX_after_process.csv')
df_info=df.iloc[:,:11]
df_info=df_info.drop(df_info.columns[[0,1]],axis=1)
df_info

,Dates,Year,Month,Day,DayOfWeek,AgeInDays,Holiday,dec_rate,signal
0,1999-04-01,1999,4,1,3,0,1,-0.004176,0
1,1999-04-02,1999,4,2,4,1,0,0.000000,0
2,1999-04-05,1999,4,5,0,2,0,0.000000,0
3,1999-04-06,1999,4,6,1,3,0,0.000000,0
4,1999-04-07,1999,4,7,2,4,0,0.000000,0
...,...,...,...,...,...,...,...,...,...
6122,2022-09-19,2022,9,19,0,1490,0,-0.030041,1
6123,2022-09-20,2022,9,20,1,1491,0,-0.030041,1
6124,2022-09-21,2022,9,21,2,1492,0,-0.030041,1
6125,2022-09-22,2022,9,22,3,1493,0,-0.030041,1
6126,2022-09-23,2022,9,23,4,1494,0,-0.030041,0

In [49]:
span=200
df_features=pd.read_csv(f'features_{span}.csv')
df_features.index=df_features.iloc[:,0]
df_features_new=pd.concat([df_info,df_features],axis=1)
df_features_new=df_features_new.dropna(axis=0)
df_features_new.to_csv(f'features_new_{span}.csv')